{% extends "layout.html" %}

{% block body %}
    <!-- Begin page content -->
    <div class="container">
    <!--<div class='second_form'>-->
      <div class="description ">
        <h1 >Dankjewel</h1>
      </div>
      <div class='beer_form'>
        <h3>Bier donatie, vul aantal kratten gekocht</h3>
      <form action="/register" method="post">
        <select id="name" name="name">
            <option disabled selected value="">name</option>
            {% for name in names %}
                <option value={{ name }}>{{ name }}</option>
            {% endfor %}
        </select>
        <select name="kratten">
            <option disabled selected value="">0</option>
            {% for beer in kratten %}
                <option value={{ beer }}>{{ beer }}</option>
            {% endfor %}
        </select>
        <select name="kwali">
            <option disabled selected value="">Niveau</option>
            <option value=0.35>zwerver</option>
            <option value=0.60>premium</option>

        </select>
        <input type="submit" value="Submit" id="submit2">
      </form>
      <h3>Statiegeld gekregen, vul aantal kratten ingeleverd</h3>
      <form action="/register" method="post">
        <select id="name" name="name">
            <option disabled selected value="">name</option>
            {% for name in names %}
                <option value={{ name }}>{{ name }}</option>
            {% endfor %}
        </select>
        <select name="kratten2">
            <option disabled selected value="">0</option>
            {% for beer in kratten %}
                <option value={{ beer }}>{{ beer }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" id="submit2">
      </form>
      <p>
      <h3>Enkel de statastieken?</h3>
      <form action="/registrants" method="post">
        <input type="submit" value="STATS" id="submit">
      </form>
      </p>
    </main>
    </div>
   </div>

{% endblock %}
