/* Menu styles */
body{
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.card{
  margin:50px;
  box-shadow: 10px 10px grey;
  width: 18rem;
  height: 14rem;
}
.container{
  margin-top:20px;
}
.btn{
  box-shadow: 2px 2px grey;
  position:absolute;
  bottom:1em;
}
.head-text{
  text-shadow: 3px 3px grey;
  font-size:70px;
  padding: 10px;
  border-top-style: solid;
  border-bottom-style: solid;
}
.input_form{
  padding:20px;
}

.price_result{
  text-align: center;
}

/* Vizual styles */
.all-svg{
  margin: 20px;
}

svg{
  margin:auto;
}

/* Map styles */
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 1px;
  border: 1px solid;
  display: none;
}
.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 5px;
  float: right;
}
.tooltip_kv{
  font-size: 9px;
}
#tooltip-container2 {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 1px;
  border: 1px solid;
  display: none;
}
.tooltip_key2 {
  font-weight: bold;
}

.tooltip_value2 {
  margin-left: 5px;
  float: right;
}
.tooltip_kv2{
  font-size: 9px;
}

/* Table styles */
table {
  margin:auto;
  border-collapse: collapse;
}

th, td {
  border-bottom: 2px solid black;
  font-style: italic;
  padding: 5px;
}


/* Styles for the heatmap and other text*/
.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.day {
    fill: #fff;
    stroke: #ccc;
}

text    {
    font-family:sans-serif;
    font-size:1.0em;
}
.dayLabel   {
    fill:#aaa;
    font-size:0.8em;
}
.monthLabel {
    text-anchor:middle;
    font-size:0.8em;
    fill:#aaa;
}
.yearLabel  {
    fill:#aaa;
    font-size:1.2em;
}

.key {
  font-size:0.5em;
}

/* Style all font awesome icons */
p {
  text-align: center;
}
h3 {
  padding-top: 30%;
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
